# Frontend
node_modules/
dist/
.env
.env.local
.env.production
.DS_Store
.vscode/

# Backend
backend/target/
backend/.mvn/
backend/mvnw
backend/mvnw.cmd
backend/.idea/
backend/*.iml
backend/.env
backend/.env.production
